#le_vully { float:left; width:100%; max-width:100%; margin:0 auto; text-align:left;  color: #fff;  background-color: #522A42;}
#le_vully  img{ max-width:100%;}
#le_vully header{width:18%; padding-left:7.5%; margin-top:5%;}
img.coin {margin-top:-120px; width:60px;
  -webkit-transform:rotate(-90deg); 
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg); 
  -ms-transform:rotate(-90deg); 
  transform:rotate(-90deg);}
.column_1 { width:18%; float:left; padding-left:7.5%; margin-bottom:7.5%;}
.column_int { width:18%; float:left; padding-left:4%;}
.column_1 p {text-align:justify;}
.column_int p {text-align:justify;}
article.column_1:after {display:none;}
article.column_int:after {display:none;}
.signature {margin-top:20px;}
footer:after, footer:before {
  content: "";
  display: block;
  background: url("../img/dot.png") repeat-x;
  background-size: 5px 3px;
  background-position: center center;
  height: 3px;
  margin-top: 1ex;
  margin-bottom: 1.3ex;
}
