
@media screen and (max-width: 899px) {
  #le_vully { width: 100%; }
}

#le_vully {
  float:left; margin:0 auto; text-align:left; 
  padding-bottom: 50px;
  }
#le_vully  img{ max-width:100%;}
#le_vully header{width:100%; padding-left:7.5%; }
img.coin {margin-top:-120px; width:60px;
  -webkit-transform:rotate(-90deg); 
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg); 
  -ms-transform:rotate(-90deg); 
  transform:rotate(-90deg);}
.autoColumns {
	width: 85%; margin-left: auto; margin-right: auto;
	text-align:justify;
	
	column-count:auto;
	column-width:200px;
	column-gap:40px;

	/* Firefox */
	-moz-column-count:auto;
	-moz-column-width:200px;
	-moz-column-gap:40px;

	/* Safari and Chrome */
	-webkit-column-count:auto;
	-webkit-column-width:200px;
	-webkit-column-gap:40px;
	
	font-family: 'AJensonProLt';
}
.signature {margin-top:20px;}

footer:before, footer:after,.autoColumns:before, hr {
  content: "";
  border:0;
  display: block;
  background: url("../img/dot.png") repeat-x;
  background-size: 5px 3px;
  background-position: center center;
  height: 3px;
  margin-top: 1ex;
  margin-bottom: 1.3ex;
}
