/* CSS for Vully web site. Julien Pilet + Antoine Javet, 2014. */

/* fonts */
@font-face {
    font-family: 'AJensonProLt';
    font-style: normal;
    src: url('AJensonPro-Lt.otf')
}

@font-face {
    font-family: 'AJensonProLtIt';
    font-style: normal;
    src: url('AJensonPro-LtIt.otf')
    letter-spacing: 2ex
}

@font-face {
    font-family: 'AJensonProSemibold';
    font-style: normal;
    src: url('AJensonPro-Semibold.otf')
}

@font-face {
    font-family: 'AJensonProSemiboldIt';
    font-style: normal;
    src: url('AJensonPro-SemiboldIt.otf')
}

section {
  color: #fff;
  background-color: #522A42;
  position: absolute;
  display: none;

  width: 40ex;
  min-height: 50%;
  max-height: 100%;
  overflow:scroll;
  top: 10%;
  left: 30%;

  padding: 6ex 8ex 4ex 8ex;
  text-align: left;
  font-family: "AJensonProLt";

  z-index: 10;
}

section p {
  line-height: 120%;
}

.only_on.selectedSection, .selectedSection {
  display: block;
}
.only_on,.hide {
  display: none;
}

.navButton {
  position: absolute;
  left:5px;
  top:5px;
  width: 2em;
  height: 2em;
}

.navButton img {
  position: absolute;
  width: 2em;
  height: 2em;
}

div.mapContainer {
  position: relative;
}

h1 {
  font-family: "AJensonProSemibold";
  font-size: 14pt;
}

/*
.separatorBottom:after, .separatorTop:before,
    article:after, article>header:before,
    ul > li:before, ul > li:last-child:after {
  content: "";
  display: block;
  background: url("../img/dot.png") repeat-x;
  background-size: 5px 3px;
  background-position: center center;
  height: 3px;
  margin-top: 1ex;
  margin-bottom: 1.3ex;
}
*/

a { text-decoration:none; }
a:link {color:#fff;}      /* unvisited link */
a:visited {color:#fee;}  /* visited link */

article header {
  font-family: "AJensonProSemibold";
  font-size: 14pt;
  padding-top: 2ex;
  font-style: normal;
}

article {
  padding-right: 0.1ex;
  padding-bottom: 0.8ex;
  width: 40ex;
}

section header em {
  font-family: "AJensonProLtIt";
  font-style: normal;
}

img.mapIcon {
  width: 20px;
  height: 20px;
}


img.highlightIcon {
  
}

img.largeMapIcon {
  width: 40px;
  height: 40px;
}

img.unselectedIcon {
  opacity: .5;
}

img.logoCave {
  width: 100%;
}

.centered {
  text-align:center;
}

ul {
 list-style:none; 
 padding: 0px;
}

div.pageContainer {
  text-align:center;
  overflow: scroll;
  position:absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}
/* page specific styles */
section[id="home"] {
  width: 70ex;
  top: 0px;
  left: 50%;
  margin-left: -41ex; /* Centering: - width/2 - margin-left */
}

section[id="home"] ul {
  font-family: "AJensonProSemibold";
  font-size: 14pt;
}

section[id="home"] ul > li:before,
    section[id="home"] li:last-child:after,
    section[id="home"] .separatorBottom:after {
  margin-left: 10ex;
  margin-right: 10ex;
}

section.cave {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  max-height: 70%;
  border-bottom: 10px;
  border-style: solid;
  border-color: #522A42;
}

.caveHolder {
  left: 50%;
  top: 0%;
  margin-left: -28ex;
  height: 80%;
  width: 40ex;
  position: absolute;
  display: block;
}

.caveHolder > img {
  z-index: 10;
}

div.mapLabelDiv {
  color: #000;
  font-size: 10pt;
  font-family: "AJensonProSemibold";
}
.mapLabelDiv ul {
  margin: 0px;
}

div.mapLabelDiv a:link, div.mapLabelDiv a:visited {color:#000;}


.semiTransp {
  background-color: rgba(82, 42, 66, .8);
  color:#FFFFFF;
  display: inline-block;  
}
.menu li {
  background-color: rgba(82, 42, 66, .8);
  color:#FFFFFF;
  display: inline-block;

  padding: 10px 20px;
  margin-right: 50%;
  font-size: 30px;
}
