/* CSS for Vully web site. Julien Pilet + Antoine Javet, 2014. */

section {
  color: #fff;
  background-color: #522A42;
  position: absolute;
  display: none;

  width: 50%;
  height: 80%;
  top: 10%;
  left: 10%;
}

section.selectedSection {
  display: block;
}

